<div>
    courses
</div>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
    </tr>
{{#each data}}
    <tr>
        <td>
            {{{data.courseId}}}
        </td>
        <td>
            {{{data.courseName}}}
        </td>
    </tr>
    {{#each}}
</table>